# HANDLING CATEGORICAL DATA USING SCIKIT-LEARN

IMPORTING LIBRARIES

In [1]:
import pandas as pd

IMPORTING DATASET

In [2]:
dataset = pd.read_csv("housing.csv")

In [3]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [4]:
data_category = dataset[["ocean_proximity"]]
data_category

      ocean_proximity
0            NEAR BAY
1            NEAR BAY
2            NEAR BAY
3            NEAR BAY
4            NEAR BAY
...               ...
20635          INLAND
20636          INLAND
20637          INLAND
20638          INLAND
20639          INLAND

[20640 rows x 1 columns]

CHECKING TO SEE HOW MANY DIFFERENT CATEGORIES EXIST IN OCEAN PROXIMITY COLUMN

In [5]:
dataset["ocean_proximity"].value_counts()

ocean_proximity
<1H OCEAN     9136
INLAND        6551
NEAR OCEAN    2658
NEAR BAY      2290
ISLAND           5
Name: count, dtype: int64

## THERE ARE MANY WAYS ONE CAN CONVERT CATEGORICAL DATA TO NUMERICAL DEPENDING ON THE TYPE OF DATA, 
THE MOST COMMONLY USED ARE AND WILL BE DISCUSEED HERE ARE:

1) ORDINAL/LABEL ENCODING
2) ONE-HOT-ENCODING


**WHAT IS THE DIFFERENCE BETWEEN LABEL AND ONE-HOT ENCODING?**

**LABEL ENCODING:** Used for Ordinal categorical variables (where order matters)

It Assigns each category an integer value (e.g., Low → 0, Medium → 1, High → 2)

**ONE HOT ENCODING:** Used for Nominal variables (no order)

It Creates a binary column for each category (e.g., Red, Green, Blue → 3 new columns)

In [6]:
from sklearn.preprocessing import OrdinalEncoder
encoder = OrdinalEncoder()

data_category_encoded = encoder.fit_transform(data_category)

In [9]:
data_category_encoded[:10]

array([[3.],
       [3.],
       [3.],
       [3.],
       [3.],
       [3.],
       [3.],
       [3.],
       [3.],
       [3.]])

In [10]:
encoder.categories_

[array(['<1H OCEAN', 'INLAND', 'ISLAND', 'NEAR BAY', 'NEAR OCEAN'],
       dtype=object)]

In our case, the ocean proximity doesn't have a kind of a specific order. So we will use One hot encoding that will make another colum for each category and if that category is true it will label it as one otherwise 0

In [12]:
from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder()

data_category_encoded = encoder.fit_transform(data_category)

data_category_encoded

<20640x5 sparse matrix of type '<class 'numpy.float64'>'
	with 20640 stored elements in Compressed Sparse Row format>

In [13]:
data_category_encoded.toarray()

array([[0., 0., 0., 1., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 1., 0.],
       ...,
       [0., 1., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 1., 0., 0., 0.]])

In [15]:
encoder.categories_

[array(['<1H OCEAN', 'INLAND', 'ISLAND', 'NEAR BAY', 'NEAR OCEAN'],
       dtype=object)]